.socials {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;  
}

.social-icon::after {
  content: none !important;
  display: none !important;
  width: 0 !important;
  transition: none !important;
}

.social-icon:hover::after {
  content: none !important;
  display: none !important;
  width: 0 !important;
  transition: none !important;
}

.social-icon-svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: #e7e7e7;

  &:hover {
    color: whitesmoke;
    transform: scale(1.1);
    transition-duration: 200ms;
  }
}