---
import Timeline from "../components/Timeline.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout title="About | Iván Risueño">
  <article class="intro" aria-labelledby="about-me-title">
    <h2 id="about-me-title">About Me</h2>
    <p>
      This section covers my most important milestones in my career as an engineer.
      I will be updating it as I achieve new goals and start new stages in my life.
    </p>
    <Timeline />
  </article>
</BaseLayout>
