---
import BaseLayout from "../layouts/BaseLayout.astro";
import TechStack from "../components/TechStack.tsx";
import Timeline from "../components/Timeline.astro";
import "../styles/global.css";
---

<BaseLayout title="About | Iván Risueño">
  <article class="intro" aria-labelledby="about-me-title">
    <h1 id="about-me-title">About Me</h1>
    <p>
      This section covers my most important milestones in my career as an engineer.
      I will be updating it as I achieve new goals and start new relevant career-related stages in my life. 
    </p>
    <TechStack client:only />
    <Timeline />
  </article>
</BaseLayout>
