---
import "../styles/global.css";
import Introduction from "../components/Introduction.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Home | Iván Risueño">
  <section class="intro">
    <Introduction />
  </section>
  <!--<Socials /> -->
</BaseLayout>