---
import BaseLayout from "../layouts/BaseLayout.astro";
import "/src/styles/projects.css";
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";

const projects = await getCollection("projects").then((projects) => {
  return projects.sort((a, b) => {
    return new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime();
  });
});
---

<BaseLayout title="Projects | Iván Risueño">
  <article>
    <h1>Projects</h1>
    <p>
      Here are some of the projects I've worked on. They are a mix of different technologies and purposes, demonstrating my skills and interests in software development. I will continue to add more projects as I work on them.
    </p>
    <div class="projects-grid">
      {projects.map((project) => {
        return (
          <ProjectCard project={project} />
        );
      })}
    </div>
  </article>
</BaseLayout>
