---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import "../styles/projects.css";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects | Iván Risueño">
  <article>
    <h1>Projects</h1>
    <div class="grid">
      {projects.map((project, index) => {
        return (
          <div class={`grid-item ${projects.length % 2 !== 0 && index === projects.length - 1 ? 'large' : ''}`}>
            <ProjectCard project={project} />
          </div>
        );
      })}
    </div>
  </article>
</BaseLayout>
