---
import "../styles/header.css";
import About from "./icons/About.astro";
import Projects from "./icons/Projects.astro";
import Resume from "./icons/Resume.astro";
import Contact from "./icons/Contact.astro";
---

<div>
  <nav>
    <container>
      <a class="irisueno" href="/">
        <p class="i">I</p>
        <p class="risueno">Risueno</p>
      </a>
      <ul class="menu">
        <a href="/about">
          <li class="icon"><About /></li>
          <li class="tag"><p>About me</p></li>
        </a>
        <a href="/projects">
          <li class="icon"><Projects /></li>
          <li class="tag"><p>Projects</p></li>
        </a>
        <a href="/resume">
          <li class="icon"><Resume /></li>
          <li class="tag"><p>Resume</p></li>
        </a>
        <a href="/contact">
          <li class="icon"><Contact /></li>
          <li class="tag"><p>Contact</p></li>
        </a>
      </ul>
    </container>
  </nav>
</div>
