---
import "/src/styles/header.css";
import About from "./icons/header/About.astro";
import Projects from "./icons/header/Projects.astro";
import Resume from "./icons/header/Resume.astro";
import Contact from "./icons/header/Contact.astro";

const { pathname } = Astro.url;

---

<div>
  <nav>
    <container>
      <a class="irisueno" href="/">
        <p class="i">I</p>
        <p class="risueno">Risueno</p>
      </a>
      <ul class="menu">
        { pathname !== "/about" &&
        <a href="/about">
          <li class="icon"><About /></li>
          <li class="tag"><p>About me</p></li>
        </a>
        }
        { pathname !== "/projects" &&
          <a href="/projects">
            <li class="icon"><Projects /></li>
            <li class="tag"><p>Projects</p></li>
          </a>
        }
        { pathname !== "/resume" &&
          <a href="/resume">
            <li class="icon"><Resume /></li>
            <li class="tag"><p>Resume</p></li>
          </a>
        }
        { pathname !== "/contact" &&
          <a href="/contact">
            <li class="icon"><Contact /></li>
            <li class="tag"><p>Contact</p></li>
          </a>
        }
      </ul>
    </container>
  </nav>
</div>
