---
import GlitchedTitle from "./GlitchedTitle.astro";
import "../styles/introduction.css";
---

<div>
  <GlitchedTitle />
  <p>Passionate about building <strong>digital products</strong> and <strong>scalable solutions</strong>, I focus on writing <strong>clean, maintainable code</strong> across the full development stack—from <strong>UX/UI</strong> considerations to <strong>relational database modeling</strong> and <strong>backend implementation</strong>.</p>
  <p>While I’m currently at a <strong>junior level</strong> professionally, I approach each project with a strong emphasis on <strong>software architecture principles</strong> such as <strong>Clean Architecture</strong> and <strong>Domain-Driven Design</strong>, constantly aiming to improve my <strong>design decisions</strong> and <strong>technical depth</strong>.</p>
  <p>In my free time, I actively study <strong>modern frameworks</strong> and <strong>tools</strong> widely adopted in the industry, always seeking to align my skills with <strong>real-world demands</strong>. My short-term goal is to deepen my experience with <strong>production-grade technologies</strong> and continue growing into a <strong>well-rounded</strong>, forward-thinking developer.</p>
</div>