---
import "/src/styles/socials.css";

import GitHub from "./icons/socials/GitHub.astro";
import LinkedIn from "./icons/socials/LinkedIn.astro";
---

<div class="socials">
  <a class="social-icon" href="http://github.com/ivan-risueno" target="_blank" rel="noopener noreferrer" aria-label="GitHub profile">
    <GitHub />
  </a>
  <a class="social-icon" href="http://www.linkedin.com/in/irisueno" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn profile">
    <LinkedIn />
  </a>
</div>